[submodule "nutricalc_app"]
	path = nutricalc_app
	url = https://github.com/BatCave-2003/nutricalc_app.git
	branch = staging

[submodule "bat_modules"]
	path = bat_modules
	url = https://github.com/BatCave-2003/bat_modules.git
	branch = staging